<%-include("partials/header.ejs")%>
<%-include("partials/navbar.ejs")%>
<div class="container">
        <h1>Hi <%=username.name%></h1>
    <button type="submit" class="btn btn-success">
        <a href="/" class="text-decoration-none text-white">Home</a>
    </button>
</div>
    
<%-include("partials/footer.ejs")%>
